admin/_wf8.json
{
  "name": "WF8 - Stock Alert",
  "nodes": [
    {
      "parameters": {
        "content": "## WF8 - Stock Alert\nCron ~08:00 UTC daily.\nCalls fn_stock_status_internal() via service_role (the\nconsole fn is authenticated-guarded, so WF uses the\nservice_role-granted internal twin).\nFilters low==true, writes ONE events row type='alert' with\nthe low list. Email/SMS wiring = later step (placeholder).",
        "height": 280,
        "width": 480
      },
      "id": "s8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "w8-cron",
      "name": "Daily 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ajvpypzdwmgblaotysbt.supabase.co/rest/v1/rpc/fn_stock_status_internal",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({}) }}",
        "options": {}
      },
      "id": "w8-status",
      "name": "Get stock status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "credentials": {
        "supabaseApi": {
          "id": "Iyc1EWawoTDI1Avp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// fn returns a JSON array (PostgREST wraps scalar rpc result). Normalize.\nlet arr = $json;\nif (Array.isArray(arr) && arr.length === 1 && Array.isArray(arr[0])) arr = arr[0];\nif (!Array.isArray(arr)) arr = (arr && Array.isArray(arr.body)) ? arr.body : [];\nconst low = arr.filter(m => m && m.low === true);\nreturn [{ json: { low_count: low.length, low, checked_at: new Date().toISOString() } }];"
      },
      "id": "w8-filter",
      "name": "Filter low",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-w8-any",
              "leftValue": "={{ $json.low_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w8-any",
      "name": "Any low?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ajvpypzdwmgblaotysbt.supabase.co/rest/v1/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'alert', payload: { kind: 'low_stock', low_count: $json.low_count, machines: $json.low }, ts: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "w8-alert",
      "name": "Write alert row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        240
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "credentials": {
        "supabaseApi": {
          "id": "Iyc1EWawoTDI1Avp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "PLACEHOLDER: after 'Write alert row', add Email/SMS (Twilio cred BR9gHibrd2mGVLm2) to notify ops of the low list. Not wired yet.",
        "height": 120,
        "width": 320
      },
      "id": "s8b",
      "name": "Notify placeholder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Daily 08:00 UTC": {
      "main": [
        [
          {
            "node": "Get stock status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get stock status": {
      "main": [
        [
          {
            "node": "Filter low",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter low": {
      "main": [
        [
          {
            "node": "Any low?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any low?": {
      "main": [
        [
          {
            "node": "Write alert row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}